* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
}

h3 {
    padding-block: 1rem;
    color: #28a745;
}

p {
    color: #656565;
    font-size: 0.9rem;
}

label {
    font-size: 1rem;
}

.heading {
    padding-top: 2rem;
    color: #28a745;
}

.container {
    max-width: 35rem;
    background: linear-gradient(315deg, #dfffe1, #ecf6ff);
    margin: 2rem auto;
    padding: 1rem;
    border-radius: 10px;
    text-align: left;
}

input {
    width: 100%;
    padding: 0.5rem;
    margin: 5px 0 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.nisab-toggle {
    display: flex;
    gap: 5px;
    border: 2px solid #1869bf;
    border-radius: 8px;
    overflow: hidden;
    width: 200px;
    margin-block: 10px;
}

.nisab-toggle button {
    flex: 1;
    padding: 10px;
    border: none;
    cursor: pointer;
    transition: all 0.3s;
}

.nisab-toggle button.active {
    background: #1869bf;
    color: white;
    font-weight: bold;
}

.action {
    display: flex;
    gap: 1rem;
}

#calculateBtn {
    flex: 8;
}

#resetBtn {
    flex: 2;
}

.action button {
    padding: 10px;
    margin-block: 10px;
    width: 100%;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.action button:hover {
    background-color: #218838;
}

.action .reset {
    background-color: #dc3545;
}

.action .reset:hover {
    background-color: #c82333;
}

#result {
    margin: 10px;
    text-align: center;
}

#your-zakat-amount {
    font-weight: bold;
    margin: 25px;
    text-align: center;
    color: #218838;
}

